header {
    background-color: white;
    height: 70px; 
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    border-width: 1px

}


.header-image {
    margin-left: 20px;
    background-image: url("/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 140px;
    height: 60px;
}

/* Logo align on left and center vertically (20px space at left) ?? */
